<h2>
  Welcome to Used car
</h2>
<div>
  Add a Car? <%= link_to 'Add new', new_car_path%>
</div>

<div>
Would you like to have notifcations? Please subscribe!
</div>
<span></span>
<% flash.each do |key, value| %>
  <div>
    <%= value %>
  </div>
<% end %>

<%= render 'subscriptions/form'%>
